* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

/* header and navigation style */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}



.btn-primary {
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    color: var(--white-color, #FFF);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin: 20px 20px;
}





nav ul {
    display: flex;
    align-items: center;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;

}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    font-family: Open Sans;
    margin-bottom: 20px;
}

.banner-discription {
    font-size: 18px;
    color: var(--dark-03, #757575);
    font-weight: 400;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about sec styles */
.about {
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 35px;
}

.sec-discription {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: var(--dark-03, #757575);



}

.info-description {
    font-size: 20px;
    color: var(--dark-02, #474747);
    font-weight: 700;
}